{
    "presets": [
        [
            "@babel/preset-env",
            {
                "loose": true,
                "modules": "cjs",
                "bugfixes": true,
                "targets": {
                    "node": true
                }
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties"
    ]
}